html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #d9ebe5;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(57 95 131);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(66 125 181);
    min-height: 150px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.content {
    background-color: rgb(66 125 181);
    min-height: 300px;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.footer {
    background-color: rgb(66 125 181);
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu li a{
    text-decoration: none;
}

.content-table{
    background-color: rgb(66 125 181);
    min-height: 300px;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-table thead tr th{
    background-color: white;
}

.wrapper div ul li a{
    color: black;
}


.content-contact{
    background-color: rgb(66 125 181);
    min-height: 300px;
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content-contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-contact form div#input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-contact form div#button{
    display: block;
    padding: 15px 15px 15px 15px;
}


.content-contact div#iframe{
    display: flex;
    justify-content: center;
}


.content-contact div#iframe{
    margin: 30px;
}